/* Login Page */

.large_login_container {
	background-color: cornsilk;
	border-radius: 50px;
}

/* Main container */
#login_container {
	display: grid;
	align-items: center;
	justify-content: center;

	grid-template-areas: 
		"welcome"
		"info"
		"logos"
		"name_login";
	grid-template-rows: minmax(50px, 1fr) minmax(50px, 1fr) auto minmax(150px, 2fr);
	row-gap: 1vh;
	height: 97vh;
}

/* Large welcome text */
#welcome {
    display: flex;
	vertical-align: middle;
	grid-area: welcome;
	align-items: center;
    justify-content: center;
	background-color: unset;

	height: 100%;
	width: 100%;

	font-family: "Palatino", Geneva, sans-serif;
	font-size: calc(4vw + 4vh);
	letter-spacing: 0px;
	word-spacing: 2px;
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

/* GitHub and App information */
#info {
	grid-area: info;

	display: block;
	height: 100%;
	width: 65%;
	margin: auto;
	background-color: unset;

	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: calc(1.5vh + 1.5vw);
	line-height: calc(1.7vh + 1.7vw);
	letter-spacing: 0px;
	word-spacing: 2px;
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

/* Tech Logos and Links */
#logos {
	grid-area: logos;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	width: 65%;
	height: 100%;
	margin: auto;

	align-items: center;
	justify-content: center;
}

#logos > div {
	display: block;
	height: 100%;
	width: 100%;
	margin: auto;
}

.github_logo {
	display: block;
	margin: auto;
	width: 80%;
}

.react_logo {
	display: block;
	margin: auto;
	width: 80%;
}

.typescript_logo {
	display: block;
	margin: auto;
	width: 80%;
}

/* Login div */
#name_login {
	grid-area: name_login;
	display: grid;
	grid-template-rows: auto minmax(50px, 1fr) 1fr;
	row-gap: 1vh;

	height: 100%;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

.name_input {
	border: 0px solid green;
}

.name_submit_div {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.name_button {
	display: block;
	height: 100%;
	width: 100%;
}

/* -------------------------------------------------------------------------------------------------------------- */

/* Chat Page */

.large_chat_container {
	display: flex;
}

/* Main container */
.chat_container {
	height: 98vh;
	display: grid;
	grid-template-areas: 
		"chat_messages chat_messages"
		"input_field submit_button";
	grid-template-rows: minmax(200px, 6fr) minmax(100px, 1fr);
	grid-template-columns: minmax(200px, 6fr) minmax(100px, 1fr);
	column-gap: 10px;
	row-gap: 10px;
}

/* Chat messages container */
.chat_messages_container {
	grid-area: chat_messages;
	background-color: rgba(135, 206, 250, 0.3);
	border-radius: calc(3 * 1vh + 3 * 1vw);

	display:flex;
	align-items: center;
	justify-content: center;
}

/* Inner messages display div */
.chat_messages_div {
	height: 90%;
	width: 95%;
	overflow:auto;
}

/* Message input field */
#input_field_div {
	grid-area: input_field;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: calc(2 * 1vh + 2 * 1vw);
}

/* Send message div */
.submit_button_div {
	grid-area: submit_button;

	display: flex;
	align-items: center;
	justify-content: center;
}

/* Send message button */
.submit_button {
	height: 90%;
	width: 90%;
}

/* Button text styling */
#submit_button_text {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: white;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
	width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(156, 156, 156);
	border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(139, 139, 139);
}

/* -------------------------------------------------------------------------------------------------------------- */

/* Message component styling */

.message_container {
	width: 90%;
	height: auto;
	display: grid;
	grid-template-areas: 
		"name date"
		"message message";

	grid-template-columns: auto auto;
	grid-template-rows: 1fr auto;
	
	align-items: center;
	/* justify-content: center; */

	background-color: cornsilk;
	box-shadow: 1.5px 3px grey;
	padding: 10px 15px 10px;
	border-radius: 30px;
	margin: 10px 0px 10px;
}

.msg_name {
	grid-area: name;
	padding: 2px;
	margin-bottom: 8px;

	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
	letter-spacing: -0.8px;
	word-spacing: 2px;
	color: rgb(75, 75, 75);
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

.msg_date {
	grid-area: date;
	padding: 2px;
	text-align: right;
	white-space: pre;

	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	letter-spacing: -1.8px;
	word-spacing: 2px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;

}

.msg_message {
	grid-area: message;
	padding: 2px;
	margin-bottom: 8px;

	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 20px;
	letter-spacing: 0px;
	word-spacing: 2px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

